.header{
  position: absolute;
  left: 0;
  right: 0;
  &__menu{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
  }
  &__menu-list{
    display: flex;
    padding-top: 25px;
    gap: 0 40px;
  }
  &__menu-link{
    font-size: 16px;
    color: #363636
  }
  &__menu-left{
    padding-left: 25px;
  }
  &__menu-right{
    padding-right: 85px;
  }
}
/*---------------------------------------*/
.promo{
    background-image: url(../images/promo-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    // height: 100vh;

  &__inner{
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
  }
  &__title{
    font-family: 'impact', sans-serif;
    font-weight: 400;
    font-size: 76px;
    line-height: 93px;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
  }
  &__subtitle{
    font-family: 'impact', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    border-bottom: 1px solid #040404;
    align-self: center;
  }
  &__date{
    font-family: 'impact', sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 34px;
    color: #9F6B08;
    display: block;
    padding: 10px 0;
  }
  &__text{
    font-size: 16px;
    color: #363636;
    padding: 10px 0;
  }
  &__arrow{
    margin-top: auto;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}
/*----------------------------------------------*/
.info{
  margin: 100px 0;
  &__part{
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
  }
  &__part-textbox{
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
    margin-bottom: 30px;
  }
  &__text{
    flex-basis: 440px;
    padding-top: 30px;
  }
  &__part-img{
    object-fit: cover;
  }
  &__part--first{
    display: block;
  }
  &__part--second{
    padding: 100px 0 65px;
  }
  &__content{
    flex-basis: 415px;
  }
  &__content-img{
    max-width: 440px;
    width: 100%;
  }
  &__table{
    flex-basis: 450px;
    border-bottom: 1px solid #040404;
    position: relative;
    top: 20px;
  }
  &__table::before{
    content: '';
    position: absolute;
    border-top: 1px solid #040404;
    width: 100%;
    top: -20px;
  }
  .info__table td:nth-child(2){
    padding: 0 10px;
  }
}


.info__part--second .info__text{
  max-width: 350px;
}
.info__part--third .info__text{
  max-width: 375px;
}
.info__table td{
  padding-bottom: 20px;
}
/*----------------------------------------------*/
.track{
  // padding: 50px 0 90px;
  background-image: url(../images/track-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-top: 50px;
  &__inner{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 50px);
  }
  &__title{
    margin-bottom: 30px;
  }
  &__text{
    max-width: 435px;
  }
  &__img{
    // max-width: 740px;
    // width: 100%;
    // margin-top: 250px;
    // margin-left: auto;
    margin-top: auto;
    margin-bottom: 90px;
    margin-left: auto;
    max-width: 700px;
    width: 100%;
  }
}
/*-----------------------------------------*/
.evo-black{
  background-color: #363636;
  padding: 100px 0 50px;
  color: #fff;
  &__inner{
    position: relative;
  }
  &__inner::before{
    content: '';
    position: absolute;
    background-image: url(../images/evo-dec1.svg);
    background-repeat: no-repeat;
    width: 210px;
    height: 210px;
    top: 210px;
    left: -140px;
    z-index: 2;
  }
  &__inner::after{
    content: '';
    position: absolute;
    background-image: url(../images/evo-dec2.svg);
    background-repeat: no-repeat;
    width: 560px;
    height: 560px;
    top: 290px;
    left: -45px;
    z-index: 2;
  }
  &__info{
    display: flex;
    justify-content: space-between;
  }
  &__title{
    padding-right: 50px;
  }
  &__infobox{
    flex-basis: 440px;
    gap: 0 30px;
  }
  &__info-text:not(:last-child){
    margin-bottom: 30px;
  }
  &__img{
    position: relative;
    z-index: 3;
    margin: 200px auto 60px;
  }
  &__descr-list{
    display: flex;
    // align-items: center;
    justify-content: center;
    gap: 0 65px;
  }
  &__descr-list dd{
    margin-bottom: 5px;
    text-transform: uppercase;
  }
}
.evo-white{
  &__inner{
    padding: 125px 0 100px;
    position: relative;
  }
  &__inner::before{
    content: '';
    position: absolute;
    background-image: url(../images/evo-dec3.png);
    background-repeat: no-repeat;
    width: 270px;
    height: 270px;
    top: -20px;
    left: 370px;
    z-index: 2;
  }
  &__inner::after{
    content: '';
    position: absolute;
    background-image: url(../images/evo-dec4.png);
    background-repeat: no-repeat;
    width: 325px;
    height: 325px;
    top: 100px;
    left: 600px;
    z-index: 2;
  }
  &__text:not(:last-child){
    margin-bottom: 30px;
  }
  &__text:first-child{
    max-width: 285px;
  }
  &__text:nth-child(2){
    max-width: 440px
  }
  &__text:nth-child(3){
    max-width: 590px
  }
  &__video{
    margin-top: 100px;
    background-image: url(../images/evo-video.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__video-icon{
    transform: translateX(50%);
  }
  &__video-text{
    color: #fff;
  }
}
/*------------------------------------------*/
.blog{
  margin-bottom: 100px;
  &__title{
    margin-bottom: 30px;
  }
  &__item-img{
    margin-bottom: 20px;
  }
  &__item-title{
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: uppercase;
    min-height: 46px;
  }
  &__item-link{
    font-size: 12px;
    color: #363636;
    margin-top: 10px;
  }
  &__quote{
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
  }
  &__quote-box{
    flex-basis: 440px;
  }
  &__quote-blockquote:not(:last-child){
    margin-bottom: 30px;
  }
  &__quote-name{
    font-weight: 700;
    margin-bottom: 10px;
    font-style: normal;
  }
  &__quote-name span{
    display: block;
    font-size: 12px;
    color: #9F6B08;
    margin-bottom: 5px;
  }
  &__quote-text{
    font-style: italic;
    padding-top: 10px;
  }
  &__quote-img{
    max-width: 400px;
    width: 100%;
  }
}


.swiper{
  position: relative;
  padding-top: 50px;
  margin-bottom: 100px;
}
.blog__button{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  z-index: 50;
}
.swiper-button-left{
  transform: translateX(-44px);
}
.swiper-button-right{
  transform: translateX(10px);
}
/*----------------------------------------------*/
.footer{
  padding: 100px 0;
  background-color: #363636;
  color: #fff;
  &__top{
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
    margin-bottom: 90px;
  }
  &__title{
    margin-bottom: 50px;
  }
  &__info-item:not(:last-child){
    margin-bottom: 50px;
  }
  &__info-item dt{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
  }
  &__info-item dd:not(:last-child){
    margin-bottom: 10px;
  }
  &__social-list{
    display: flex;
    align-items: center;
    gap: 0 20px;
  }
  &__address{
    flex-basis: 465px;
  }
  &__address-title{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  &__address-text{
    font-size: 16px;
    font-style: normal;
    margin-bottom: 20px;
  }
  &__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

#map{
  height: 250px;
}